* {
    margin: 0;
    list-style-type: none;
}

html {
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
}

#add-todo-dialog {
    margin: auto;
}

#new-project-dialog {
    margin: auto;
}

#content {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

#content-header {
    padding: 8px;
    margin: 8px;
}

#page-content {
    display: flex;
    flex-direction: column;
}

#todo-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.todo-div {
    border: 1px solid green;
}

#project-list {
    display: flex;
    flex-direction: column;
}

.collection-li-div {
    padding: 8px;
}

.collection-h4 {
    text-decoration: underline;
}